.home-container {
    display: flex;
    padding: 40px;
    margin-top: 40px;
}
.product-section-container {
    width: 100%;
    margin-left: 80px;
}

@media screen and (max-width:576px) {
    .home-container {
        display: flex;
        flex-direction: column;
        /* padding-top: 20px; */
        margin-top: 40px;
    }
    .product-section-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}